import(prioritizr)
import(terra)
import(highs)
import(tools)
importFrom("graphics", "axis", "layout", "legend", "matplot")
importFrom("stats", "sd")
importFrom("utils", "read.csv")
importFrom("rasterdiv", "paRao")
importFrom("geodiv", "focal_metrics")
importFrom("methods", "is")
importFrom("maps", "map")
importFrom("viridis", "viridis")
importFrom("readxl", "read_xlsx", "read_xls")

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
